.container{
  width: 100%; 
  margin: auto;
  margin-top: 20px;
  margin-right: 2%;
  cursor: pointer;
}
.card {
    width: 25%;
    margin: auto;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-weight: bold;
    outline: none;
  }
  @media screen and (max-width:500px) {
    .card>h1{
    width: 100%;
    /* text-align: justify; */
    /* margin-left:10%; */
  }
  .card{
    width: 100%;
    margin: auto;
    justify-content: space-around;
  }
  }
  .container2{
    width: 100%; 
    margin: auto;
    /* height: 300px; */
    margin-top: 0px;
    /* margin-right: 2%; */
    border-left: 20px solid #eaeaea;
    border-right: 20px solid #eaeaea;
    border-bottom: 10px solid #eaeaea;
  }
  .card2{
    width: 90%;
    margin: auto;
    /* height: 250px; */
  }
  @media screen and (max-width:860px){
    .card2{
    width: 100%;
    margin: auto;
    /* height: 250px; */
  }
  }
  .innerContainer{
  
    width: 84%;
    margin: auto;
  }
  .bankcontainer{
    width: 100%; 
    margin: auto;
    /* margin-right: 2%; */
  }
  .clothing{
    width: 100%; 
    margin: auto;
    margin-right: 1%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 20px;
    text-align: center;
  }
  @media screen and (max-width:900px){
    .clothing{
      grid-template-columns: repeat(4,1fr);
    }
  }
  @media screen and (max-width:600px){
    .clothing{
      grid-template-columns: repeat(3,1fr);
    }
  }
  .clothing>div{
    cursor: pointer;
  }
  .clothing>div>h1{
    font-weight: bold;
  }
  .clothingHeading{
    width: 100%; 
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
.trendyFashion{
  width: 100%; 
  margin: auto;
  /* margin-right: 1%; */
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  text-align: center;
}
 @media screen and (max-width:550px){
    .trendyFashion{
      grid-template-columns: repeat(2,1fr);
    }
  }
.trendyImg{
  cursor: pointer;
  width: 80%;
  margin: auto;
}
.bandg{
  width: 100%; 
  margin: auto;
  /* margin-right: 1%; */
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* column-gap: 20px; */
  text-align: center;
}
@media screen and (max-width:550px){
    .bandg{
      grid-template-columns: repeat(2,1fr);
    }
  }
.bandg>div{
  cursor: pointer;
}
.brandsHeading{
    width: 100%; 
    margin: auto;
    margin-top: 10px;
    /* text-align: center; */
    font-size: 25px;
    font-weight: bold;
}
.brandsborder{
  width: 100%; 
  margin: auto;
  /* height: 280px; */
  margin-top: 0px;
  margin-right: 2%;
  border-left: 20px solid #eaeaea;
  border-right: 20px solid #eaeaea;
  border-bottom: 10px solid #eaeaea; 
  border-top: 10px solid #eaeaea; 
  padding: 10px;
  padding-bottom: 20px;
}
.brandsfashion{
  width: 100%; 
  margin: auto;
  margin-right: 5%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 25px;
  text-align: center;
}
.brandsfashion>div{
  cursor: pointer;
}

@media screen and (max-width:800px){
    .brandsfashion{
      grid-template-columns: repeat(4,1fr);
    }
  }
  @media screen and (max-width:600px){
    .brandsfashion{
      grid-template-columns: repeat(3,1fr);
    }
  }
   @media screen and (max-width:410px){
    .brandsfashion{
      grid-template-columns: repeat(2,1fr);
    }
  }